<!DOCTYPE html>
{% autoescape true %}
<html lang="en">
  <head>
    <!-- Essential information for facebook plugins -->
    <meta property="fb:app_id" content="555442104533161"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="鈺荃坊">
    <meta property="og:site_name" content="鈺荃坊--鈺精選咖啡">
    <meta property="og:image" content="http://windrippleyc.appspot.com/img/logo.jpg">
    <meta property="og:type" content="coffee">

    <title>鈺荃坊--鈺精選咖啡</title>
    <link href="img/favicon1.ico" rel="SHORTCUT ICON">

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/shop-homepage.css" rel="stylesheet">

  </head>
  
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style='font-weight: bold;' href="/">鈺荃坊</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#about">About</a></li>
            <li><a href="/coffee_list?type=all">鈺精選咖啡</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <div class="container">

      <div class="row">

        <div class="col-md-3">
           <div class="list-group">
            <a href="/mycart1" class="list-group-item" style='font-size:130%;'>我的購物車</a>
            <a href="/coffee_list?type=all" class="list-group-item {% if product_type=='all' %}active{%endif%} "style='font-weight: bold;'>鈺精選咖啡</a>
            <a href="/coffee_list?type=精品咖啡豆" class="list-group-item {% if product_type=='精品咖啡豆' %}active{%endif%}" style='font-weight: bold;'>精品咖啡豆</a>
            <a href="/coffee_list?type=百分百品賞包" class="list-group-item {% if product_type=='百分百品賞包' %}active{%endif%} " style='font-weight: bold;'>百分百品賞包</a>
            <a href="/coffee_list?type=掛耳濾泡式咖啡" class="list-group-item {% if product_type=='掛耳濾泡式咖啡' %}active{%endif%} " style='font-weight: bold;'>掛耳濾泡式咖啡</a>
          </div>
          <div class='hidden-xs'>
          <img src="/img/logo.jpg" style='height:220px;width:263px;'></img>
        </div>

        </div>

        <div class="col-md-9">

  {% for greeting in greetings %}
          
            {% if greeting.product_type == product_type %}
            <div class="col-sm-4 col-lg-4 col-md-4">
              <div class="thumbnail">
                 <label class="fb-like" data-href="{{greeting.product_intro}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></label>

                 <label class="pull-right" style='font-size:100%;background-color: #AAAAAA;'>
                  {{greeting.product_bake}}</label>
               
                <img style='height:188px' src="{{greeting.product_pic}}" alt="">
             
                <div class="caption">
                  <h4 class="pull-right" style='color:brown;'>${{greeting.porduct_price}}</h4>
                  <h4><a href="{{greeting.product_intro}}">{{greeting.product_name}}</a></h4>
                  <p>{{greeting.product_scribe}}</p>
                </div>
                <div class="ratings">
                  <p class="pull-right" ><a href="/coffee_list?type={{greeting.product_type}}">{{greeting.product_type}}</a></p>
                 <form class='product_form' action="/cart" method="post">
                          <input type="hidden"  id='cart' name='cart' value='{{greeting.product_uuid}}'/>
                        <button class="btn btn-danger" 
                        {% for test in ttt %}{% if test == greeting.product_uuid %}style='display:none'{% endif %} {% endfor %} type='submit' onclick='addcart()'><span class="icon-shopping-cart" ></span>購物車
                       </button> 
                       <a target="_blank" href="{{greeting.product_intro}}" role="button" class="btn btn-primary" data-toggle="modal"><span class="icon-comment" ></span>介紹</a>

                       
                 </form>
                </div>
              </div>
            </div>
                 
             {%endif%}
           
               {% if product_type == 'all' %}

           <div class="col-sm-4 col-lg-4 col-md-4">
               <div class="thumbnail">
                 <label class="fb-like" data-href="{{greeting.product_intro}}" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></label>

                <label class="pull-right" style='font-size:100%;background-color: #AAAAAA;'>
                  {{greeting.product_bake}}</label>
               
                <img style='height:188px' src="{{greeting.product_pic}}" alt="">
             
                <div class="caption">
                  <h4 class="pull-right" style='color:brown;'>${{greeting.porduct_price}}</h4>
                  <h4><a href="{{greeting.product_intro}}">{{greeting.product_name}}</a></h4>
                  <p>{{greeting.product_scribe}}</p>
                </div>
                <div class="ratings">
                  <p class="pull-right" ><a href="/coffee_list?type={{greeting.product_type}}">{{greeting.product_type}}</a></p>
                 <form class='product_form' action="/cart" method="post">
                          <input type="hidden"  id='cart' name='cart' value='{{greeting.product_uuid}}'/>
                        <button class="btn btn-danger" 
                        {% for test in ttt %}{% if test == greeting.product_uuid %}style='display:none'{% endif %} {% endfor %} type='submit' onclick='addcart()'><span class="icon-shopping-cart" ></span>購物車
                       </button> 
                       <a target="_blank" href="{{greeting.product_intro}}" role="button" class="btn btn-primary" data-toggle="modal"><span class="icon-comment" ></span>介紹</a>

                       
                 </form>
                </div>
              </div>
            </div>
            

              {%endif%}
               {% endfor %}

        

        </div>

      </div>

    </div><!-- /.container -->
    
    <div class="container">


      <footer>
        <div class="row">
          <div class="col-lg-6">
            <p>Copyright &copy; Company 2013</p>

          </div> 

          <div class="col-lg-3">
           <div class="fb-like" data-href="http://windrippleyc.appspot.com/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

          </div> 

           <div class="col-lg-3">
            <div class="g-plusone" data-size="small" data-annotation="inline" data-width="300" data-href="http://windrippleyc.appspot.com/"></div>
        </div>

          </div> 

         
        <div id="fb-root"></div>
      </footer>

    </div><!-- /.container -->

    <!-- JavaScript -->

    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/zh_TW/all.js#xfbml=1&appId=555442104533161";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>





      <script type="text/javascript">
        window.___gcfg = {lang: 'zh-TW'};

        (function() {
          var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
          po.src = 'https://apis.google.com/js/platform.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
      </script>

         <script>
     function addcart()
      {

        alert('商品加入購物車')
      }

      function redirect_url(type)
      {

         window.location.href = "/coffee_list?type="+encodeURI(type);

      }
    </script>

  </body>
</html>
{% endautoescape %}